services:
  client:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=http://app:8080
    container_name: client
    ports:
    - "3000:3000"
    environment:
      - VITE_API_BASE_URL=http://app:8080
networks:
  app-network:
    driver: bridge