.container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

    h1 {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-weight: 500;
        font-size: 25px;
    }

    .event-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 48%;
    }

    .event-item {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        height: 120px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        .event-tag {
            width: 190px;
            height: 100%;
            color: white;
            border-radius: 20px;
            font-size: 14px;
            font-weight: bold;
            margin-right: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        .event-details {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .event-name {
                width: 500px;
                font-size: 18px;
                font-weight: 600;
                color: #333;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .event-date {
                font-size: 14px;
                color: #666;
                display: flex;
                gap: 5px;

                .start-date,
                .end-date {
                    font-weight: 500;
                }
            }

            .event-location,
            .event-organized {
                font-size: 14px;
                color: #777;
            }
        }

        .event-status {
            position: absolute;
            display: flex;
            top: 60px;
            right: 0;
            margin-right: 20px;
            background-color: #00bcd4;
            color: white;
            height: 35px;
            border-radius: 10px;
            align-items: center;
            padding: 5px 10px;

            &.chua-bat-dau {
                background-color: #e4d1b4; // Màu đỏ cho "Chưa bắt đầu"
                color: white;
            }

            &.dang-dien-ra {
                background-color: #4caf50;
                // Màu cam cho "Đang diễn ra"
                color: white;
            }

            &.da-ket-thuc {
                background-color: #f44336; // Màu đỏ cho "Chưa bắt đầu"
                // Màu xanh lá cho "Đã kết thúc"
                color: white;
            }
        }


    }

    .view-all {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 30px;
    }

    .view-all-link {
        display: block;
        width: 100%;
        font-size: 16px;
        color: #00bcd4;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid #00bcd4;
        padding: 8px 20px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #00bcd4;
            color: white;
        }
    }

    .list-detail {
        display: flex;
        justify-content: space-between;

        .event-cel {
            width: 48%;
            position: relative;

            img {
                width: 100%;
                height: 540px;
                object-fit: cover;
                opacity: 0.6;
            }

            .event-info {
                position: absolute;
                top: 10%;
                left: 12%;
                width: 580px;
                height: 480px;
                padding: 15px;
                background-color: #f5f5f5;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                .info-header {
                    height: 70%;
                    margin-bottom: 20px;

                    h2 {

                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                }

                img {
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .info-content {
                    margin-top: 55px;
                    font-size: 15px;
                    display: flex;
                    justify-content: space-between;

                    .register {
                        margin-top: 30px;
                        margin-right: 10px;
                    }

                    .info-detail {
                        div {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}