.post-card {
    height: 380px;
    position: relative;

    .content-card {
        position: absolute;
        cursor: pointer;
        left: 10%;
        top: 8%;
        width: 80%;
        height: 83%;
        position: relative;
        background-color: #fff;
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
        text-decoration: none;
        color: inherit;

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        .post-info {
            padding: 10px 10px 25px 10px;
            text-align: left;
        }

        .date {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #333;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 1.2em;
        }

        .day {
            display: block;
            font-size: 1.5em;
            font-weight: bold;
        }

        .month {
            text-transform: uppercase;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 2em;
            color: #333;
        }

        h3 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            height: 44px;
            font-size: 19px;
            margin: 10px 0;
            color: #333;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            margin: 5px 0;
            color: black;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            i {
                font-size: 15px;
                padding-right: 10px;
            }

            h1,
            strong,
            h2,
            h3,
            h4 {

                font-size: 16px;
                color: black;
                margin-bottom: 15px;
                word-wrap: break-word;
                /* Cắt từ dài nếu cần thiết */
                font-weight: normal;
                /* Loại bỏ bold */
                font-family: Arial, sans-serif;
            }


        }

        .post-content {

            h1,
            strong,
            h2,
            h3,
            h4,
            p,
            em,
            img {

                word-wrap: break-word;
                /* Cắt từ dài nếu cần thiết */
                font-weight: normal;
                /* Loại bỏ bold */
                font-family: Arial, sans-serif;
                font-size: inherit;
                display: -webkit-box;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }

    .content-card:hover {
        transform: translateY(-10px);
    }
}