.container {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;


    img {
        width: 50%;
        object-fit: fill;
    }
}

.ql-align-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .post-title {
        font-size: 28px;
        color: #2c3e50;
        border-bottom: 2px solid #ecf0f1;
        padding-bottom: 10px;
    }

    .contents {
        margin-top: 20px;

        p,
        h1,
        h2,
        h3,
        span,
        ul,
        li {
            line-height: 1.9;
        }

        .profile {
            line-height: 1.6;
            margin-bottom: 10px;

            &:first-of-type {
                font-size: 14px;
                color: #7f8c8d;
                margin-bottom: 20px;
            }
        }

        h3 {
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
            color: #2980b9;
        }

        .content-detail {
            // font-family: Arial, sans-serif;
            // font-size: 16px;
            // line-height: 1.5;
            // white-space: pre-wrap;
            // text-indent: 2em;
            // margin: 0 auto;
            // width: 80%;

            // img {
            //     display: block;
            //     /* Đảm bảo hình ảnh căn giữa */
            //     margin: 0 auto;
            //     width: 600px;
            // }

            // /* Thụt lề đầu dòng */
            // a {
            //     color: blue;
            //     text-decoration: underline;

            //     &:hover {
            //         color: darkblue;
            //     }
            // }

            .container-wrapper {
                position: relative;
                /* Để các phần tử con sử dụng absolute */
                width: 100%;
                height: auto;
                box-sizing: border-box;
                border: 1px solid #ddd;
                /* Hiển thị đường viền nếu cần kiểm tra */
            }



        }
    }

    figure {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            max-width: 100%;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.3);
                cursor: pointer;
            }
        }

        figcaption {
            font-size: 14px;
            color: #7f8c8d;
            text-align: center;
        }
    }

    .files {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .file-item {
            width: 300px;
            display: flex;
            height: 70px;
            padding: 10px;
            background-color: #ecf0f1;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
            transition: background-color 0.3s ease;
            align-items: center;
            justify-content: left;

            &:hover {
                background-color: #dcdde1;
                cursor: pointer;
            }

            a {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-decoration: none;
                color: #2980b9;
                width: 150px;
                margin-left: 5px;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                direction: rtl;
            }

            &a:hover {
                text-decoration: underline;
            }

            img {
                width: 50px;
            }
        }
    }

    .preview-pdf-button {
        margin-left: 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.pdf-preview {
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;

    iframe {
        border: none;
        /* Xóa đường viền của iframe */
    }

    h3 {
        margin-bottom: 10px;
    }
}