.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 70% 20% 10%;
    grid-template-rows: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    color: white;
    transition: top 0.3s ease-in-out;

    &.fixed {
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }


}

.custom-menu-item {
    border-left: 1px solid #d9d9d9; // Viền bên trái
    border-right: 1px solid #d9d9d9; // Viền bên phải

    &:hover {
        background-color: #f5f5f5; // Màu nền khi hover
    }

    &:first-child {
        border-left: none; // Bỏ viền bên trái cho mục đầu tiên
    }

    &:last-child {
        border-right: none; // Bỏ viền bên phải cho mục cuối
    }
}


.logo {
    display: flex;
    height: 100%;
    width: 380px;
    text-decoration: none;
    color: black;

    img {
        padding: 5px 5px;
    }

    .text-logo {
        height: 50%;
        color: white;

        h3 {
            height: 100%;
            display: flex;
            align-items: center;
            margin-top: 5px;
        }

        h4 {
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 400;
            transform: translateY(-5px);
        }
    }
}


.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 60px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.options {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    i {
        font-size: 35px;
        margin: 0 10px;
        color: white;
    }

    .avatar {
        width: 40px;
        height: 40px;
        border: 1px solid black;
        border-radius: 50%;
        margin: 0 10px;
        cursor: pointer;
    }


}

.user-menu {
    width: 170px;
    background-color: white; // Màu nền cho menu
    border: 1px solid #ddd; // Đường viền mờ
    border-radius: 8px; // Bo tròn góc
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Đổ bóng cho menu
    z-index: 1000; // Đảm bảo menu nổi bật trên các phần tử khác
    display: flex;
    flex-direction: column; // Sắp xếp các nút theo chiều dọc

    // Hiệu ứng khi hover vào menu
    &:hover {
        background-color: #f9f9f9; // Thay đổi màu nền khi hover vào
    }

    // Kiểu cho các nút trong menu
    .menu-item {
        background: none;
        border: none;
        padding: 15px 12px;
        text-align: left;
        cursor: pointer;
        font-size: 14px;
        color: #333;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;
        user-select: none;

        // Hiệu ứng khi hover vào nút
        &:hover {
            background-color: #f0f0f0;
        }

    }
}