.container {
    display: grid;
    gap: 20px;
    padding: 20px;
    margin: 10px 250px;

    .employee-list {
        display: flex;

    }
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    width: 280px;
    height: 420px;
    margin: 0 10px;

    &:hover {
        transform: translateY(-5px);
    }

    .image {
        width: 100%;
        height: 340px;
        object-fit: cover;
    }

    .name {
        margin-top: 10px;
        font-weight: bold;
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
    }

    .button {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            background-color: #0056b3;
        }
    }
}