.wrapper {
    width: 100%;

    .fake-tuyen {
        width: 100%;
        border-top: 5px solid red;
        text-align: center;
        margin-top: 50px;
        height: 500px;
        background-image: url("https://blogcdn.muaban.net/wp-content/uploads/2024/07/22141404/diem-chuan-hoc-vien-ky-thuat-mat-ma-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;

        h1 {
            width: 100%;
            font-size: 25px;
            text-align: center;
            padding: 5px 0;
            font-weight: 500;
            color: white;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .lol {
            width: 30%;
            color: white;
            margin: 0 auto;
            font-weight: 300;
            margin-bottom: 20px;
        }

        .tuyen-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60%;
            margin: 10px 250px;

            .card {
                text-align: left;
                display: flex;
                height: 100%;
                width: 45%;
                padding-right: 20px;
                background-color: white;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


                img {
                    width: 300px;
                    height: 100%;
                    object-fit: cover;
                }

                .content {
                    height: 100%;

                    h4 {
                        font-size: 20px;
                        margin: 10px 0 5px 5px;
                    }

                    p {
                        font-size: 15px;
                        margin: 10px 0 5px 5px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 13;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
}