.wrapper {
  width: 100%;
  height: 65px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: white;
}



.logo {
  display: flex;
  height: 100%;
  width: 380px;
  text-decoration: none;
  color: black;

  img {
    padding: 5px 5px;
  }

  .text-logo {
    display: grid;
    align-items: center;
    margin: 5px 0;

    h4 {
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
  }
}

.search-bar {
  width: 32%;
  height: 70%;
  border: 2px solid gray;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;


  input {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    outline: none;
    cursor: text;
    padding-left: 20px;
    font-size: 15px;
  }

  ::placeholder {
    font-style: italic;

  }
}

.options {
  width: 361px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;

  i {
    font-size: 35px;
    margin: 0 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
  }


}

.user-menu {
  width: 170px;
  background-color: white; // Màu nền cho menu
  border: 1px solid #ddd; // Đường viền mờ
  border-radius: 8px; // Bo tròn góc
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Đổ bóng cho menu
  z-index: 1000; // Đảm bảo menu nổi bật trên các phần tử khác
  display: flex;
  flex-direction: column; // Sắp xếp các nút theo chiều dọc

  // Hiệu ứng khi hover vào menu
  &:hover {
    background-color: #f9f9f9; // Thay đổi màu nền khi hover vào
  }

  // Kiểu cho các nút trong menu
  .menu-item {
    background: none;
    border: none;
    padding: 15px 12px;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;

    // Hiệu ứng khi hover vào nút
    &:hover {
      background-color: #f0f0f0;
    }

  }
}


.login-button {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff6f61; // Màu nền nút
  color: white; // Màu chữ
  text-align: center; // Loại bỏ gạch chân
  font-size: 16px;
  border-radius: 30px; // Viền bo tròn
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #ff4f3f; // Màu nền khi hover
    transform: scale(1.05); // Phóng to nhẹ khi hover
  }

  &:active {
    background-color: #e14e3d; // Màu nền khi click
    transform: scale(1); // Phóng to trở lại khi nhả click
  }

  &:focus {
    outline: none; // Loại bỏ outline khi focus
    box-shadow: 0 0 10px rgba(255, 111, 97, 0.5); // Thêm bóng đổ khi focus
  }
}