.login-container {
    width: 450px;
    padding: 20px;
    margin: 100px auto;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
        width: 30%;
        margin-bottom: 10px;
    }

    h3 {
        text-align: center;
        margin-bottom: 15px;
    }

    p {
        text-align: center;
    }
}

.login-container h2 {
    text-align: center;
}

.login-container form {
    div {

        margin-bottom: 10px;
    }

    width: 100%;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}